* {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 13px;*/
}

.container-fluid {
    padding: 0;
}

.container-fluid  .col-auto {
    padding: 0;
}
body{
    width: 100%;
}
.col {
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

a, a:hover {
    color:white;
    text-decoration: none;
}

.nav-link {
    /*font-size: 1.2em;*/
    /*font-weight: 100;*/
    /*padding-bottom: 0;*/
    font-size: 0.96em;
    font-weight: 100;
    padding: 0.4em 1em 0 1em;
}

.menu {
    width: 100%;
    background-color: black;
    color: white;
    padding:0 0.5em 0.1em 0.5em;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.logo_menu {
    height: 3em;
    width: 9em;
    /*height: 40px;*/
    /*width: 150px;*/
    margin: 0.5em;
}

.msg_logo {
    /*height: 3em;*/
    /*width: 3em;*/
    /*margin: 0 1.6em;*/
    height: 2.3em;
    margin: 0.4em;
}

.menu__navbar {
    padding-top: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /*flex-wrap: wrap;*/
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.text__lead {
    width: 20em;
    border-left: 0.1em solid white;
    padding: 0 0 0 1.1em;
    font-size: 1.2em;
    /*color:red;*/
}


.projects_block_right_side {
    background-image: url("img/fffon2.svg");
    /*max-width: 100%;*/
    background-size: 140%;
    background-position: center right;
    background-repeat: no-repeat;
    color: white;
    /*padding-bottom: 2em;*/
    /*background-color: black;*/

}

.projects_block {
    display:block;
    /*background-color: none;*/
    background-image: url("img/fffon1.svg");
    /*background-size: cover;*/
    background-size: 140%;

    /*background-size: 50%;*/
    background-position: center left;
    background-color: black;
    background-repeat: no-repeat;
    /*padding-bottom: 2em;*/
}


.display-1 {
    /*width:100%;*/
    /*margin: 0;*/
    margin-top: 0.3em;
    margin-left: 1em;
    margin-bottom: 0.2em;
    /*font-size: 6em;*/
    font-weight: 300;
    line-height: 1.2;
    font-size: calc(2em + 4.5vw);
}

.display-3 {
    font-size: calc(2em + 1.5vw);
    margin-right: 0.3em;
}

.ar-row > .logo_lead {
    height: 20em;
}

.logo_lead {
    height: 17em;
    position: relative;
    /*margin: 0 2.6em;*/
}

.AR {
    /*top: -8em;*/
    /*left: 4em;*/
    /*height: 14em;*/
    top: 0;
    left:0;

}


.VR {
    /*top: -1em;*/
    /*left: 16em;*/
    /*height: 12em;*/

    top: 0;
    left: 0;
}

.MR {
    top: 0;
    left: 0;
    /*height: 12em;*/

}

.logo_lead_left {
    position: relative;
    left: -14em;
}

.vr-row {
    margin-right: 5em;
    margin-bottom: 14em;

}

.mr-row {
    margin-top: -10em;
    margin-left:3em;
    margin-bottom: 6em;
}

.ar-row {
    margin-left: 3em;
    margin-top: 0;

    /*margin-bottom: 8em;*/

}

video {
    position: absolute;
    opacity: 0;
    background-color: black;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.form-row {
    background-color: black;
    /*background-color: rgba(0, 0, 0, 0.45);*/
    color:white;
}

.form-card {
    padding: 1em 1em 1em 1em;
    margin: 2em;
    /*background-color: rgba(0, 0, 0, 0.75);*/
    background-color: rgba(253, 253, 253, 0.24);

    /*color: white;*/
}

.form-group > .form-control {
    background-color: rgba(253, 253, 253, 0.27);

    /*background-color: rgba(0, 0, 0, 0.31);*/
    /*border-color: rgba(0, 0, 0, 0.41);*/
    /*color: white;*/
    /*background-color: rgba(255, 255, 255, 0.31);*/
    /*border-color: rgba(0, 0, 0, 0.41);*/
    color: white;
}

.form-group > .form-control:focus {
    background-color: rgba(253, 253, 253, 0.27);
    color:white;

}

.h3_text {
    margin: 0.5em;
    font-size: calc(1em + 1vw);
}

.text_form {
    margin: 1em 1em 1em 4em;

}

.sub_text_form {
    font-weight: 100;
    font-size: 0.7rem;
    text-align: center;
}


.form_lead {
     font-size: 1rem;
     /*font-weight: 200;*/
    float: right;
}

.form_lead_xl {
    font-size: 1.2em;
}

.row-grid {
    background-color: black;
    color: white;
}

.pic_grid {
    /*content: ' ';*/
    /*background-color: rgba(0, 0, 0, 0.7);*/
    /*height: 100%;*/
    opacity: 0.4;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 100%;
    /*height: auto;*/
    display: block;
}

.grid {
    padding: 0;
    color: white ;
}

.pic_grid__text {
    opacity: 10;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.2em;
    /* left: -4%; */
    width: 100%;
    /*height: 100px;*/
    vertical-align: middle;
    padding: 0 0.5em;
    /*top: 0;*/
    /*bottom: 0;*/
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.grid:hover .pic_grid{
    /*content: ' ';*/
    /*background-color: none;*/
    /*background-color: ;*/
    /*width: 100%;*/
    opacity: 1 ;
    /*-webkit-transition: opacity 0.3s;*/
    /*-moz-transition: opacity 0.3s;*/
    /*-o-transition: opacity 0.3s;*/
    /*-ms-transition: opacity 0.3s;*/
    /*transition: opacity 0.3s;*/
}

.grid:hover .pic_grid__text {
    opacity: 0;
    position: absolute;
    width: 100%;
    padding: 0 0.5em;
}

.grid:hover:after {
    opacity: 0;

}


.row_call_us {
    background-image: url("img/fon2_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding: 5em 0;
    min-height: 350px;
}


.btn-success, .btn-success:focus {
    background-color: #00f091;
    border-color: #00f091;
    /*box-shadow: 0 0 5px 5px #00c776;*/
}

.btn-success:hover {
    color: #fff;
    background-color: #0ae6a0;
    border-color: #0ae6a0;
    /*box-shadow: 0 0 10px px #00bb6c;*/


}

.msg_logo_xl {
    height: 6em;
    width: 6em;
    margin: 0 1.6em;
}

.row-contacts {
    background: black;
    color: white;
    padding: 1.5em 0;
}

.row-round {
    padding-bottom: 2em;
    color: white;
    background-color: black;

}

.msg_logo_xs {
    height: 2em;
    /*width: 1em;*/
    margin: 1em;
}

.pic_round {
    height: 9em;
    margin: 2em 4em;
}

.text_round {
    width: 15em;
    margin: 1em;
    text-align: center;
}